<div>
    <div class="row">
        <div class="col-md-12 text-center panel panel-body" style="height: 500px;">
            <div class="col-md-12">
               <h3>Вибачте за незручності, сторінка в стадії розробки</h3> 
            </div>
            <img src="/Content/Images/eror_page_500_1.png" style="width: 450px;">
            @*<div class="col-md-12 text-center">
                    <a href="#">Home</a>
                </div>*@
        </div>
    </div>
</div>