@*@model teamssd.Data.Entities.News

<div class="row">
    <div class="col-md-12">
        @Model.Text
    </div>
</div>*@


<div>
    <div class="row">
        <div class="col-md-12 text-center" style="height:510px;">
            <img src="/Content/Images/eror_page_404.png" style="width: 700px;">
            @*<div class="col-md-12 text-center">
                    <a href="#">Home</a>
                </div>*@
        </div>
    </div>
</div>